//reset styles
@font-face {
    font-family: 'Raleway';
    src: url(../assets/Raleway-Regular.woff2);
}


* {
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}
body {
    font-family: 'Raleway';
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
}

.sr-only {
    display: none;
  }
  
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  