.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    font-weight: 700;
    font-size: 1.5rem;

    a {
        color: hsl(176, 56%, 55%);

        &:hover {
            color: hsl(176, 64%, 31%);
        }
    }
}
.line {
    border-radius: 10%;
}
.btn {
    background-color: rgb(171, 181, 181);
    padding: 0.5em 0.2em;
    margin: 0.25em;
    border-radius: 0.75em;
    width: 15rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}

.info-btn {
    background-color: hsl(50, 100%, 71%);

    &:hover {
        background-color: hsl(50, 93%, 57%);
    }
}

.contact-btn {
    background-color: hsl(176, 56%, 55%);

    &:hover {
        background-color: hsl(176, 87%, 37%);
    }
}

.btn-container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0rem;
}