#reading-card {
    background-color: #4ecdc542;
}

#reading-text {
    background-color: #4ECDC4;
}

#writing-card {
    background-color: #FFE66D42;
}

#writing-text {
    background-color: #FFE66D;
}

#listening-card {
    background-color: #FF6B6B42;
}

#listening-text {
    background-color: #FF6B6B;
}

#conversation-card {
    background-color: #D252FF42;
}

#conversation-text {
    background-color: #D252FF;
}

#grammar-card {
    background-color: #1cb51942;
}

#grammar-text {
    background-color: #1cb519;
}

#vocabulary-card {
    background-color: #FFA14942;
}

#vocabulary-text {
    background-color: #FFA149;
}