#reading-card {
    background-color: hsla(176, 56%, 55%, 0.259);
}

#reading-text {
    background-color: hsl(176, 56%, 60%);

    .see-more {
        display: none;
    }

    &:hover {
        background-color: hsl(176, 56%, 80%);

        .see-more {
            display: inherit;
        }

        .card-title {
            display: none;
        }
    }
}

#writing-card {
    background-color: hsla(50, 100%, 71%, 0.259);
}

#writing-text {
    background-color: hsl(50, 100%, 60%);

    .see-more {
        display: none;
    }

    &:hover {
        background-color: hsl(50, 100%, 80%);

        .see-more {
            display: inherit;
        }

        .card-title {
            display: none;
        }
    }
}

#listening-card {
    background-color: hsla(0, 100%, 71%, 0.259);
}

#listening-text {
    background-color: hsl(0, 100%, 70%);

    .see-more {
        display: none;
    }

    &:hover {
        background-color: hsl(0, 100%, 80%);

        .see-more {
            display: inherit;
        }

        .card-title {
            display: none;
        }
    }
}

#conversation-card {
    background-color: hsla(284, 100%, 66%, 0.259);
}

#conversation-text {
    background-color: hsl(284, 100%, 60%);

    .see-more {
        display: none;
    }

    &:hover {
        background-color: hsl(284, 100%, 80%);

        .see-more {
            display: inherit;
        }

        .card-title {
            display: none;
        }
    }
}

#grammar-card {
    background-color: hsla(119, 76%, 40%, 0.259);
}

#grammar-text {
    background-color: hsl(119, 76%, 40%);

    .see-more {
        display: none;
    }

    &:hover {
        background-color: hsl(119, 76%, 60%);

        .see-more {
            display: inherit;
        }

        .card-title {
            display: none;
        }
    }
}

#vocabulary-card {
    background-color: hsla(29, 100%, 64%, 0.259);
}

#vocabulary-text {
    background-color: hsl(29, 100%, 60%);

    .see-more {
        display: none;
    }

    &:hover {
        background-color: hsl(29, 100%, 80%);

        .see-more {
            display: inherit;
        }

        .card-title {
            display: none;
        }
    }
}