@import "base";

body {
  background-color: #363636;
  background-image: url("../assets/sky.webp");
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 2rem;

  img {
    height: 4rem;
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  background-color: hsl(0 0% 0% / 0.75);

  a {
    color: #ffffff;
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(0.75rem);
  }
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 350ms ease-out;

    &[data-visible="true"] {
      transform: translateX(0%);
    }
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../assets/menu.svg");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    &[aria-expanded="true"] {
      background-image: url("../assets/closed.svg");
    }
  }
}

.sr-only {
  display: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
