@import 'base';

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    background-color: red;
}

nav {
    display: flex;
    

    ul{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        

        li{
            margin: 0.5em;
            padding: 1em;

            a {
                color: palevioletred;
            }
        }
    }
}