@import "base";
@import "button";
@import "media-query";

body {
    background-color: #dedede;
    background-image: url("../assets/blur-abstract-bokeh-festive-light-background-banner-backdrop-wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 2rem;

    img {
        height: 4rem;
    }
}


.hero-section {
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;

    h2 {
        text-transform: uppercase;
    }

    img {
        padding: 2rem 0rem;
        height: 40vh;
        width: 100vw;
    }
}

h1 {
    font-family: 'Gochi', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.section {
    padding: 2rem 0rem;

    .first-section {
        margin: 2rem 2rem;
    }

    .female {
        flex-direction: row;
        border-radius: 73% 27% 55% 45% / 45% 35% 65% 55%;
        background-color: #4ecdc55b;

    }

    .male {
        flex-direction: row;
        border-radius: 73% 27% 55% 45% / 45% 35% 65% 55%;
        background-color: #ffe76d56;
    }

}

.first-section {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p {
        padding: 1.5rem;
        font-size: 1.25rem;
    }

    .paragraph {
        padding: 1em 2em;

        p {
            padding: 1em;
            font-weight: 600;
        }
    }
}

.learning-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 3rem 1rem;

    .learning-card {
        align-items: center;
        justify-items: center;
        padding: 5em 0em 0em 0em;
        border-radius: 1rem;

        .image-card {
            width: 20rem;
            height: 8rem;
            justify-content: center;
            padding: 1rem;
        }

        h3 {
            font-family: 'Gochi', sans-serif;
            font-size: 1.5rem;
            padding: 2rem 0rem;
            width: 100%;
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            text-align: center;
        }
    }
}

#reading-card {
    background-color: #4ecdc542;
}

#reading-text {
    background-color: #4ECDC4;
}

#writing-card {
    background-color: #FFE66D42;
}

#writing-text {
    background-color: #FFE66D;
}

#listening-card {
    background-color: #FF6B6B42;
}

#listening-text {
    background-color: #FF6B6B;
}

#conversation-card {
    background-color: #D252FF42;
}

#conversation-text {
    background-color: #D252FF;
}

#grammar-card {
    background-color: #1cb51942;
}

#grammar-text {
    background-color: #1cb519;
}

#vocabulary-card {
    background-color: #FFA14942;
}

#vocabulary-text {
    background-color: #FFA149;
}


