@import "base";
@import "button";
@import "cards";
@import "card-modals";

body {

  background-color: hsl(0, 0%, 87%);
  background-image: url("../assets/blur-abstract-bokeh-festive-light-background-banner-backdrop-wallpaper.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

// header
.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// navigation
.primary-navigation {
  --gap: 2em;
  position: fixed;
  inset: 0 0 0 30%;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  background-color: hsla(0, 0%, 38%, 0.75);
  backdrop-filter: blur(1rem);
  transform: translateX(100%);
  transition: transform 350ms ease-out;

  &[data-visible="true"] {
    transform: translateX(0%);
  }

  @media (min-width: 780px) {
    position: inherit;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    transform: none;
    backdrop-filter: none;
    padding: 0 2rem;
    background-color: transparent;
  }
}

nav {
  ul {
    li {
      margin: 1em;
    }
  }
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  width: 3rem;
  aspect-ratio: 1;
  top: 3rem;
  right: 3rem;
  fill: hsl(0, 0%, 20%);

  .line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
  }

  &[aria-expanded="true"] {
    position: fixed;

    .top {
      y: 45;
      rotate: 45deg;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      y: 45;
      rotate: -45deg;
    }

    .line {
      transition: x 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms;
    }
  }

  @media (min-width: 780px) {
    display: none;
  }
}

.logo {
  margin: 2rem;

  img {
    height: 4rem;
  }
}

// hero section

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  align-items: center;

  h2 {
    text-transform: uppercase;
  }

  img {
    padding: 2rem 0rem;
    height: 40vh;
    width: 100vw;
    margin: 2rem 0rem;
  }
}

h1 {
  font-family: "Gochi", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(5vh, 8rem, 15vw);
}

h2 {
  text-align: center;
  font-size: clamp(2vh, 2rem, 8vw);
  margin: 1rem 0rem;
}

.btn-container {
  display: flex;
}

//introduction
.introduction-section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem 2rem;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
}

.introduction-container {
  justify-content: center;
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
  flex-wrap: wrap;

  p {
    padding: 2rem;

    @media (min-width: 1850px) {
      font-size: 1.5rem;
    }
  }

  img {
    display: none;

    @media (min-width: 245px) {
      display: flex;
    }
  }

  &:last-child {
    @media (min-width: 750px) {
      padding: 2rem 10rem;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 750px) {
    padding: 2rem 10rem;
    flex-wrap: nowrap;
  }
}


.female {
  flex-direction: row;
  border-radius: 73% 27% 55% 45% / 45% 35% 65% 55%;
  background-color: hsla(176, 56%, 55%, 0.357);

  img {
    display: none;

    @media (min-width: 580px) {
      display: flex;
    }
  }
}

.male {
  flex-direction: row;
  border-radius: 73% 27% 55% 45% / 45% 35% 65% 55%;
  background-color: hsla(50, 100%, 71%, 0.337);
  margin: 1rem;

  img {
    display: none;

    @media (min-width: 580px) {
      display: flex;
    }
  }
}

.paragraph {
  padding: 1em 2em;

  p {
    padding: 1em;
  }
}

//what you'll learn

.curriculum {
  padding: 4rem 0rem;

  @media (min-width: 1500px) {
    padding: 10rem 2rem;
  }
}
.learning-container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 3rem 1rem;


  @media (min-width: 920px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.learning-card {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5em 0em 0em 0em;
  border-radius: 1rem;
  flex-direction: column;

  button {
    font-family: "Gochi", sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    width: 100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.image-card {
  width: 90vw;
  height: 200px;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
    padding-bottom: 5%;
    overflow: hidden;

    @media (min-width: 920px) {
      max-width: 43vw;
    }

    @media (min-width: 1290px) {
      max-width: 28vw;

    }
  }

  @media (min-width: 920px) {
    width: 45vw;
  }

  @media (min-width: 1290px) {
    width: 30vw;

  }
}