@font-face {
  font-family: "Raleway";
  src: url(../assets/Raleway-Regular.woff2);
}
@font-face {
  font-family: "Gochi";
  src: url(../assets/GochiHand-Regular.ttf);
}
* {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: "Raleway";
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
}

.sr-only {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  font-weight: 700;
  font-size: 1.5rem;
}
.primary-navigation a {
  color: #4ECDC4;
}
.primary-navigation a:hover {
  color: #1d837c;
}

.line {
  border-radius: 10%;
}

.btn {
  background-color: rgb(171, 181, 181);
  padding: 0.5em 0.2em;
  margin: 0.25em;
  border-radius: 0.75em;
  width: 8em;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.btn:hover {
  cursor: pointer;
}

.info-btn {
  background-color: #FFE66D;
}
.info-btn:hover {
  background-color: #f7d52b;
}

.contact-btn {
  background-color: #4ECDC4;
}
.contact-btn:hover {
  background-color: #0cb3a7;
}

.btn-container {
  flex-wrap: wrap;
  justify-content: center;
}

#reading-card {
  background-color: rgba(78, 205, 197, 0.2588235294);
}

#reading-text {
  background-color: #4ECDC4;
}

#writing-card {
  background-color: rgba(255, 230, 109, 0.2588235294);
}

#writing-text {
  background-color: #FFE66D;
}

#listening-card {
  background-color: rgba(255, 107, 107, 0.2588235294);
}

#listening-text {
  background-color: #FF6B6B;
}

#conversation-card {
  background-color: rgba(210, 82, 255, 0.2588235294);
}

#conversation-text {
  background-color: #D252FF;
}

#grammar-card {
  background-color: rgba(28, 181, 25, 0.2588235294);
}

#grammar-text {
  background-color: #1cb519;
}

#vocabulary-card {
  background-color: rgba(255, 161, 73, 0.2588235294);
}

#vocabulary-text {
  background-color: #FFA149;
}

body {
  background-color: #dedede;
  background-image: url("../assets/blur-abstract-bokeh-festive-light-background-banner-backdrop-wallpaper.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  --gap: 2em;
  position: fixed;
  inset: 0 0 0 30%;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  background-color: rgba(98, 98, 98, 0.75);
  backdrop-filter: blur(1rem);
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}
.primary-navigation[data-visible=true] {
  transform: translateX(0%);
}
@media (min-width: 560px) {
  .primary-navigation {
    flex-direction: row;
    transform: none;
    backdrop-filter: none;
    position: sticky;
    padding: 0 2rem;
    background-color: transparent;
  }
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  width: 3rem;
  aspect-ratio: 1;
  top: 3rem;
  right: 3rem;
  fill: #333;
}
.mobile-nav-toggle .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}
.mobile-nav-toggle[aria-expanded=true] {
  position: fixed;
}
.mobile-nav-toggle[aria-expanded=true] .top {
  y: 45;
  rotate: 45deg;
}
.mobile-nav-toggle[aria-expanded=true] .middle {
  opacity: 0;
}
.mobile-nav-toggle[aria-expanded=true] .bottom {
  y: 45;
  rotate: -45deg;
}
.mobile-nav-toggle[aria-expanded=true] .line {
  transition: x 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms;
}
@media (min-width: 560px) {
  .mobile-nav-toggle {
    display: none;
  }
}

.logo {
  margin: 2rem;
}
.logo img {
  height: 4rem;
}

.hero-section {
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  align-items: center;
}
.hero-section h2 {
  text-transform: uppercase;
}
.hero-section img {
  padding: 2rem 0rem;
  height: 40vh;
  width: 100vw;
}

h1 {
  font-family: "Gochi", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(5vh, 8rem, 15vw);
}

h2 {
  text-align: center;
  font-size: clamp(2vh, 2rem, 8vw);
}

.introduction-section {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 560px) {
  .introduction-section {
    grid-template-columns: 2fr 2fr;
  }
}

.paragraph {
  padding: 1em 2em;
}
.paragraph p {
  padding: 1em;
}

.learning-container {
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 3rem 1rem;
}
@media (min-width: 1280px) {
  .learning-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.learning-card {
  align-items: center;
  justify-items: center;
  padding: 5em 0em 0em 0em;
  border-radius: 1rem;
  flex-direction: column;
}

.image-card {
  width: 35vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
@media (min-width: 560px) {
  .image-card {
    width: 450px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .image-card {
    width: 450px;
    height: 200px;
  }
}

h3 {
  font-family: "Gochi", sans-serif;
  font-size: 1.5rem;
  padding: 2rem 0rem;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}/*# sourceMappingURL=style.css.map */